/* 
* Table of Contents *
1. Variables
    1.1 Font Weights
    1.2 Colors
2. Mix-Ins
3. Global Styles
4. Navbar
*/

// * Variables * //
//Font Weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//Colors
$light-grey: #dadada;
$dark-grey: #505050;
$light-black: #121212;
$main-darkBlue: #212c4e;
$main-blue: #6c63ff;
$main-orange: #ee910f;

// ** Mix-Ins ** //
/* Define the mixin */
@mixin fluid-typography($minFont, $maxFont, $minBreakpoint, $maxBreakpoint) {
  /* Define variable for media query */
  $maxLessOne: $maxBreakpoint - 1;

  /* Define variable for fallback */
  $avg: ($maxFont + $minFont) / 2;

  /* Base font size */
  font-size: #{$minFont}px;

  @media (min-width: #{$minBreakpoint}px) and (max-width: #{$maxLessOne}px) {
    /* Adds a fallback for unsupported browsers */
    font-size: #{$avg}px;

    /* The fluid typography magic 🌟  */
    font-size: calc(
      #{$minFont}px + (#{$maxFont} - #{$minFont}) *
        (100vw - #{$minBreakpoint}px) / (#{$maxBreakpoint} - #{$minBreakpoint})
    );
  }

  @media (min-width: #{$maxBreakpoint}px) {
    font-size: #{$maxFont}px;
  }
}

// * Global Styles * //
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  @include fluid-typography(16, 25, 300, 1500);
}
body {
  font-family: "Mukta", sans-serif;
  background-color: $main-darkBlue;
  overflow-x: hidden;
}

::-moz-selection,
::selection {
  color: white;
  background-color: $light-black;
}

// * Navbar * //
#icon {
  font-weight: $semi-bold;
  color: white;
  font-size: 1.2rem;
  span {
    color: $main-orange;
  }
}
.nav-item {
  font-size: 1.1rem !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
}

// * Hero * //
.hero {
  position: relative;
  color: white;
  height: 100vh;
  &__image {
    position: absolute;
    right: 8%;
    top: 0;
    z-index: -1;
    max-width: calc(min(100vw, 100vh));
    height: auto;
    margin-top: 5rem;
  }
  &__title {
    margin-top: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: $bold;
    margin-bottom: 1rem;
    margin-left: 5rem;
    font-size: 2.5rem;
  }
  &__subtitle {
    margin-top: 5rem;
    position: absolute;
    left: 0;
    top: 27%;
    font-weight: $medium;
    margin-bottom: 1rem;
    color: $light-grey;
    margin-left: 5rem;
    font-size: 2rem;
  }
  &__button {
    margin-top: 5rem;
    position: absolute;
    left: 0;
    top: 55%;
    font-weight: $medium;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: $main-orange;
    color: white;
    text-align: center;
    outline: none;
    border: none;
    font-size: 1.75rem;
    width: 11rem;
    padding: 0.2rem 0;
    margin-left: 5rem;
    transition: background-color 200ms ease-out;
  }
  &__button:hover,
  &__button:focus {
    color: white;
    background-color: darken($main-orange, 10%);
    transition: background-color 250ms ease-in;
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    &__title {
      font-size: 1.75rem;
      margin-left: 1.5rem;
    }
    &__subtitle {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      top: calc(max(13%, 13vh));
    }
    &__button {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      top: calc(max(25%, 25vh));
    }
    &__image {
      right: 0;
      width: 80vh;
    }
  }
}
