/* 
* Table of Contents *
1. Variables
    1.1 Font Weights
    1.2 Colors
2. Mix-Ins
3. Global Styles
4. TSA Page
*/

// * Variables * //
//Font Weights
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//Colors
$light-grey: #c9c7c7;
$dark-grey: #505050;
$light-black: #121212;

// ** Mix-Ins ** //
/* Define the mixin */
@mixin fluid-typography($minFont, $maxFont, $minBreakpoint, $maxBreakpoint) {
  /* Define variable for media query */
  $maxLessOne: $maxBreakpoint - 1;

  /* Define variable for fallback */
  $avg: ($maxFont + $minFont) / 2;

  /* Base font size */
  font-size: #{$minFont}px;

  @media (min-width: #{$minBreakpoint}px) and (max-width: #{$maxLessOne}px) {
    /* Adds a fallback for unsupported browsers */
    font-size: #{$avg}px;

    /* The fluid typography magic 🌟  */
    font-size: calc(
      #{$minFont}px + (#{$maxFont} - #{$minFont}) *
        (100vw - #{$minBreakpoint}px) / (#{$maxBreakpoint} - #{$minBreakpoint})
    );
  }

  @media (min-width: #{$maxBreakpoint}px) {
    font-size: #{$maxFont}px;
  }
}

// * Global Styles * //
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  @include fluid-typography(16, 25, 300, 1500);
}
body {
  font-family: "Mukta", sans-serif;
}

::-moz-selection,
::selection {
  color: white;
  background-color: $light-black;
}

.fp-controlArrow.fp-next {
  border-width: 24.5px 0 24.5px 33px !important;
  border-color: transparent transparent transparent $dark-grey !important;
  transition: border-color 200ms ease-out;
}
.fp-controlArrow.fp-prev {
  border-width: 24.5px 34px 24.5px 0 !important;
  border-color: transparent $dark-grey transparent transparent !important;
}
.fp-controlArrow.fp-next:hover,
.fp-controlArrow.fp-next:focus {
  border-color: transparent transparent transparent $light-black !important;
  transition: border-color 300ms ease-in;
}
.fp-controlArrow.fp-prev:hover,
.fp-controlArrow.fp-prev:focus {
  border-color: transparent $light-black transparent transparent !important;
  transition: border-color 300ms ease-in;
}
.fp-viewing-0-2 {
  .fp-tableCell {
    vertical-align: revert !important;
  }
}

// ** TSA Page ** //

.tsa {
  .section {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(241, 240, 240, 1) 100%
    );
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 208px;
    font-weight: $extra-light;
    letter-spacing: 48px;
    margin-left: 160px;
    margin-top: 32px;
    line-height: 0.75;
    color: $light-grey;
  }
  .__technology::first-letter,
  .__student::first-letter,
  .__association::first-letter {
    font-weight: $extra-bold;
    color: $light-black;
    font-size: 320px;
  }
  .__technology,
  .__student {
    margin-left: 17.6px;
  }

  &__text {
    color: $light-black;
  }
  &__image {
    width: 100%;
    max-width: 25rem;
  }
}

@media only screen and (max-width: 600px) {
  .tsa {
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      font-size: 80px;
      letter-spacing: normal;
      width: 85%;
    }
    .__technology::first-letter,
    .__student::first-letter,
    .__association::first-letter {
      font-size: 240px;
    }
    .__technology,
    .__student {
      margin-bottom: 16px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .tsa {
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      font-size: 96px;
      letter-spacing: normal;
      width: 85%;
    }
    .__technology::first-letter,
    .__student::first-letter,
    .__association::first-letter {
      font-size: 272px;
    }
    .__technology,
    .__student {
      margin-bottom: 16px;
    }
  }
}
